body,html {
  display: flex;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  justify-content: space-around;
}

.app {
  height: 80vh;
  width: 96vw;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.search-bar{
  display: grid;
  grid-template-columns:repeat(3,auto);
  width: 80vw;
  padding: 20px;
  justify-content: space-evenly;
  color: #070000;
  font-size: 1.5em;
  
}

.longitude,.latitude{
  max-width: max-content;
  padding: 10px 5px;
  margin-right: 10px;
}

.map {
  height: 100%;
  width: 100%;
}

.marker {
  background-image: url('https://i.imgur.com/oz3r3Wq.png');
  background-size: cover;
  width: 22px;
  height: 22px;
  background-color: yellow;
  border-radius: 11px;
  border: solid 3px darkslategray;
}

.marker-delivery {
  background-image: url('https://i.imgur.com/cIooqnp.png');
  background-size: cover;
  width: 22px;
  height: 22px;
  border-radius: 15px;
  border: solid darkslategrey 3px;
}